<a href="https://colab.research.google.com/github/UNKOkiss/data_viz_2022/blob/main/Basic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions ($f(x) = y$)

``` 
def function_name(input_x) :
      # do something with input_x to get output_y
      return output_y

```

$f_1(x) = x^2 + 75$

In [6]:
def function_f1(x) :
      a = x**2
      y = a + 75
      return y
print('done!') # ต้องให้คำว่า print ตรงกับคำว่า def

done!

In [7]:
function_f1(3)

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1. บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร def function_name() : (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input _input_ (ขาดได้)
3. ส่วนประมวลผล do_something with _input_ to get _Output_ (ขาดไม่ได้)
4. ส่วน output return _Output_ (ขาดไม่ได้)

### ตัวอย่าง function ที่มีส่วนประกอบครบ

In [8]:
def function_f1(x) :
      a = x**2
      y = a + 75
      return y

### ตัวอย่าง function ที่ ไม่มี input

In [9]:
def pi_v() :
      y = 3.14159265358979323846
      return y

In [11]:
piv = pi_v()
circle_area_r2 = piv*(2**2)
print(circle_area_r2)

12.566370614359172

### Function ไม่มี process ไม่ได้

In [12]:
def function_a():

SyntaxError: ignored

ตัวอย่าง Function ที่ไม่มี output

In [23]:
def print_name_id(name, id):
      print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [24]:
print_name_id('อธิยาภรณ์','623020031-5')

ชื่อ อธิยาภรณ์ รหัสประจำตัว 623020031-5

In [25]:
a = print_name_id('อธิยาภรณ์','623020031-5')

ชื่อ อธิยาภรณ์ รหัสประจำตัว 623020031-5

In [26]:
a

ตัวอย่าง function print https://www.programiz.com/python-programming/methods/built-in/print

In [28]:
print('อธิยาภรณ์')
print('623020031-5')

อธิยาภรณ์
623020031-5

In [29]:
print('อธิยาภรณ์',end='->')
print('623020031-5')

อธิยาภรณ์->623020031-5

In [30]:
print('อธิยาภรณ์','623020031-5',sep=' & ')

อธิยาภรณ์ & 623020031-5

## input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function `print_grade() มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น F

In [31]:
def print_grade(name,id,grade = 'F'):
      print(f'รหัสประจำตัว {id} ชื่อ {name}')
      print(f'ได้เกรด {grade}')

In [32]:
print_grade('นางสาวอธิยาภรณ์ ลุล่วง','623020031-5')

รหัสประจำตัว 623020031-5 ชื่อ นางสาวอธิยาภรณ์ ลุล่วง
ได้เกรด F

In [33]:
print_grade('นางสาวอธิยาภรณ์ ลุล่วง','623020031-5','A')

รหัสประจำตัว 623020031-5 ชื่อ นางสาวอธิยาภรณ์ ลุล่วง
ได้เกรด A

In [34]:
print_grade(id ='623020031-5',name='นางสาวอธิยาภรณ์ ลุล่วง',grade='B+')

รหัสประจำตัว 623020031-5 ชื่อ นางสาวอธิยาภรณ์ ลุล่วง
ได้เกรด B+

Looping (for)

Conditional Statemant (if)