<a href="https://colab.research.google.com/github/UNKOkiss/data_viz_2022/blob/main/Basic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions ($f(x) = y$)

``` 
def function_name(input_x) :
      # do something with input_x to get output_y
      return output_y

```

$f_1(x) = x^2 + 75$

In [1]:
def function_f1(x) :
      a = x**2
      y = a + 75
      return y
print('done!') # ต้องให้คำว่า print ตรงกับคำว่า def

done!

In [2]:
function_f1(3)

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1. บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร def function_name() : (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input _input_ (ขาดได้)
3. ส่วนประมวลผล do_something with _input_ to get _Output_ (ขาดไม่ได้)
4. ส่วน output return _Output_ (ขาดไม่ได้)

### ตัวอย่าง function ที่มีส่วนประกอบครบ

In [3]:
def function_f1(x) :
      a = x**2
      y = a + 75
      return y

### ตัวอย่าง function ที่ ไม่มี input

In [4]:
def pi_v() :
      y = 3.14159265358979323846
      return y

In [5]:
piv = pi_v()
circle_area_r2 = piv*(2**2)
print(circle_area_r2)

12.566370614359172

### Function ไม่มี process ไม่ได้

In [7]:
def function_a():

SyntaxError: ignored

ตัวอย่าง Function ที่ไม่มี output

In [8]:
def print_name_id(name, id):
      print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [9]:
print_name_id('อธิยาภรณ์','623020031-5')

ชื่อ อธิยาภรณ์ รหัสประจำตัว 623020031-5

In [10]:
a = print_name_id('อธิยาภรณ์','623020031-5')

ชื่อ อธิยาภรณ์ รหัสประจำตัว 623020031-5

In [11]:
a

ตัวอย่าง function print https://www.programiz.com/python-programming/methods/built-in/print

In [12]:
print('อธิยาภรณ์')
print('623020031-5')

อธิยาภรณ์
623020031-5

In [13]:
print('อธิยาภรณ์',end='->')
print('623020031-5')

อธิยาภรณ์->623020031-5

In [14]:
print('อธิยาภรณ์','623020031-5',sep=' & ')

อธิยาภรณ์ & 623020031-5

## input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function `print_grade() มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น F

In [15]:
def print_grade(name,id,grade = 'F'):
      print(f'รหัสประจำตัว {id} ชื่อ {name}')
      print(f'ได้เกรด {grade}')

In [16]:
print_grade('นางสาวอธิยาภรณ์ ลุล่วง','623020031-5')

รหัสประจำตัว 623020031-5 ชื่อ นางสาวอธิยาภรณ์ ลุล่วง
ได้เกรด F

In [17]:
print_grade('นางสาวอธิยาภรณ์ ลุล่วง','623020031-5','A')

รหัสประจำตัว 623020031-5 ชื่อ นางสาวอธิยาภรณ์ ลุล่วง
ได้เกรด A

In [18]:
print_grade(id ='623020031-5',name='นางสาวอธิยาภรณ์ ลุล่วง',grade='B+')

รหัสประจำตัว 623020031-5 ชื่อ นางสาวอธิยาภรณ์ ลุล่วง
ได้เกรด B+

Looping (for)

```python
for member in listEx:
    do_something()
```

In [19]:
for member in [1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [20]:
def print_name(name):
      print(f'ฉันชื่อ {name}')

In [21]:
for name in ['อธิยาภรณ์','ญาดา','วีระพล','ลี เจโน่','นา แจมิน']:
    N = name
    print_name(N)

ฉันชื่อ อธิยาภรณ์
ฉันชื่อ ญาดา
ฉันชื่อ วีระพล
ฉันชื่อ ลี เจโน่
ฉันชื่อ นา แจมิน

In [22]:
list_name_id_grade = [['นายลี เจโน่','623020031-5','A'],
                                ['แจมิน','623020031-6','B+'],
                                ['เฮียเหริน','623020031-7','B']]

In [23]:
for each in list_name_id_grade:
    name = each[0]
    id = each[1]
    grade = each[2]
    print_grade(name,id,grade)
    print('--------------------')

รหัสประจำตัว 623020031-5 ชื่อ นายลี เจโน่
ได้เกรด A
--------------------
รหัสประจำตัว 623020031-6 ชื่อ แจมิน
ได้เกรด B+
--------------------
รหัสประจำตัว 623020031-7 ชื่อ เฮียเหริน
ได้เกรด B
--------------------

## ใช้ for loop เพิ่มสมาชิกใน list

In [24]:
list_name = [] # ตั้งชื่อที่เป็น list ว่างเอาไว้ก่อน
list_id = [] # ตั้งชื่อที่เป็น list ว่างเอาไว้ก่อน
list_grade = [] # ตั้งชื่อที่เป็น list ว่างเอาไว้ก่อน
for each in list_name_id_grade:
    list_name.append(each[0])
    list_id.append(each[1])
    list_grade.append(each[2])

In [25]:
list_name

['นายลี เจโน่', 'แจมิน', 'เฮียเหริน']

### การวนลูปด้วย range()

In [26]:
for i in range(50):
    print('แง่ง', end = ' ')

แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง แง่ง

## Loop ซ้อน Loop

In [27]:
for mem1 in range(2,5): # [2,3,4]
    print(f'now mem1 = {mem1}')
    for mem2 in range(1,13): # [1,2,3,4,5,6,7,8,9,10,11,12]
        print(f'{mem1} x {mem2} = {mem1*mem2}') #เอามาคูณกัน ให้กลายเป็นสูตรคูณแม่ 2 แม่ 3 แม่ 4
    print(f'end inner for mem1 = {mem1}')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = 4

### Loop in function

In [28]:
def print_grade_loop(names,grades):
    for n,g in zip(names,grades):
        print(f'{n} ได้เกรด {g}')

In [29]:
print_grade_loop(list_name,list_grade)

นายลี เจโน่ ได้เกรด A
แจมิน ได้เกรด B+
เฮียเหริน ได้เกรด B

Conditional Statemant (if)

```python
if condition1:
  do_something() ## ถ้า condition1 เป็นจริง ทำ do_something()
elif condition2:
  do_another_thing() ## ถ้า condition1 ไม่เป็นจริงแต่ condition2 เป็นจริง ทำ do_another_thing()
else:
  do_the_last_thing() ## ถ้าไม่มี conditon ไหนเป็นจริงเลย ทำ do_the_last_thing()
```

In [30]:
for n in list_name:
    if len(n)>10:
       print(f'{n} ได้เกรด A')
    else:
      print(f'{n} ได้เกรด F')

นายลี เจโน่ ได้เกรด A
แจมิน ได้เกรด F
เฮียเหริน ได้เกรด F

### operator ที่ใช้ตรวจสอบ condition

==, !=, >=, <=, <, >, and, or

In [31]:
10 == 20

False

In [32]:
b = 15 <= 20
print(b)

True

In [33]:
if a:
  print('x')

In [34]:
if True:
  print('x')

x

In [35]:
if a and b:
  print('x')

In [36]:
if a or b:
  print('x')

x

# HW4
เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A) หรือ 'ไม่สามารถตัดเกรดได้'

วนลูปตัดเกรด input = [1,50,65,90,101,-5,49,'ก',80]

กำหนด

    ถ้ากำหนดอยู่ระหว่างมากกว่าหรือเท่ากับ 0 แต่น้อยกว่า 50 จะได้เกรด F
    ถ้ากำหนดอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D   
    ถ้ากำหนดอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+  
    ถ้ากำหนดอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C  
    ถ้ากำหนดอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+  
    ถ้ากำหนดอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B  
    ถ้ากำหนดอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+  
    ถ้ากำหนดอยู่ระหว่างมากกว่าหรือเท่ากับ 80 จะได้เกรด A
    ถ้าคะแนนไม่อยู่ในช่วง 0-100 ให้ return 'ไม่สามารถตัดเกรดได้'

In [42]:
score = [1,50,65,90,101,-5,49,'ก',80]

In [59]:
print(score)
print('---------------------------------------')
for s in score:
    if type(s) == type(""):
        print (f'คะแนน {s} ไม่สามารถตัดเกรดได้')
    else:
        if s >= 101:
            print (f'คะแนน {s} ไม่สามารถตัดเกรดได้')
        elif s >= 80:
            print (f'คะแนน {s} ได้เกรด A')
        elif s >= 75:
            print (f'คะแนน {s} ได้เกรด B+')
        elif s >= 70:
            print (f'คะแนน {s} ได้เกรด B')
        elif s >= 65:
            print (f'คะแนน {s} ได้เกรด C+')
        elif  s >= 60:
            print (f'คะแนน {s} ได้เกรด C')
        elif  s >= 55:
            print (f'คะแนน {s} ได้เกรด D+')
        elif  s >= 50:
            print (f'คะแนน {s} ได้เกรด D')
        elif  s >= 0:
            print (f'คะแนน {s} ได้เกรด F')
        else:
            print (f'คะแนน {s} ไม่สามารถตัดเกรดได้')
print('---------------------------------------')

[1, 50, 65, 90, 101, -5, 49, 'ก', 80]
---------------------------------------
คะแนน 1 ได้เกรด F
คะแนน 50 ได้เกรด D
คะแนน 65 ได้เกรด C+
คะแนน 90 ได้เกรด A
คะแนน 101 ไม่สามารถตัดเกรดได้
คะแนน -5 ไม่สามารถตัดเกรดได้
คะแนน 49 ได้เกรด F
คะแนน ก ไม่สามารถตัดเกรดได้
คะแนน 80 ได้เกรด A
---------------------------------------